<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:block th:fragment="navbar(current, showSearch)">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="my-logo" th:src="@{/image/clipart498849.png}" alt="LOGO">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classAppend="${current == 'pizzas'} ? my-active : not-active" th:href="@{/pizzas}">Pizzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classAppend="${current == 'advanced'} ? my-active : not-active" th:href="@{/advanced_search}">Advanced</a>
                    </li>
                </ul>
                <form
                    th:if="${showSearch}"
                    class="d-flex"
                    role="search"
                    method="get"
                    th:action="@{/pizzas}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>