<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link th:replace="~{/pizzas/fragments/fragment_head :: style_resources}">

    <title>Error [[${status}]]</title>
</head>
<body class="bg-danger">

<div class="container  mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>OPS! Server error!</h1>
            <p>
                <a th:href="@{/}" class="btn btn-primary">Torna in Home</a>
            </p>
        </div>
        <div th:if="${exception}">
            <p th:text="${exception}"></p>
            <p th:text="${trace}"></p>

        </div>
    </div>
</div>

</body>
</html>