<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link th:replace="~{/pizzas/fragments/fragment_head :: style_resources}">

    <title>Bella pizza, buona!</title>
</head>
<body>

    <th:block th:replace="~{/pizzas/fragments/fragment_navbar :: navbar('pizzas', true)}"></th:block>

    <div class="container mt-5">

        <div class="d-flex justify-content-between">
            <h1>Pizza list</h1>
            <a th:href="@{/pizzas/create}" class="btn btn-primary align-self-center"><i class="fa-solid fa-plus"></i></a>
        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome della pizza</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${!pizzaList.isEmpty()}" th:each="pizza : ${pizzaList}" th:object="${pizza}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{description}"></td>
                            <td>[[*{price}]] €</td>
                            <td>
                                <a th:href="|/pizzas/pizza_detail/*{id}|" class="btn btn-primary">
                                    <i class="fa-solid fa-pizza-slice"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${pizzaList.isEmpty()}">
                            <td colspan="5">
                                <div class="alert alert-warning" role="alert">
                                    Non sono presenti pizze...
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>


</body>
</html>