<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link th:replace="~{/pizzas/fragments/fragment_head :: style_resources}">

    <title>Detail of [[${pizzaSelected.name}]]</title>
</head>
<body>

<th:block th:replace="~{/pizzas/fragments/fragment_navbar :: navbar('pizzas', false)}"></th:block>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" th:object="${pizzaSelected}">
                <img th:src="*{image_link}" class="card-img-top my-card-image" th:alt="*{name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{name}"></h5>
                    <p class="card-text" th:text="*{description}"></p>
                    <p class="card-text">Prezzo: <strong>[[*{price}]]</strong> €</p>
                    <a th:href="@{/pizzas}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>