<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link th:replace="~{/fragments/fragment_head :: style_resources}">

    <title>Detail of [[${pizzaSelected.name}]]</title>
</head>
<body>

<th:block th:replace="~{/fragments/fragment_navbar :: navbar('pizzas', false)}"></th:block>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!--<div  th:if="${message}">
                <th:block  th:replace="~{/pizzas/fragments/fragment_alert :: alert(${message.type}, ${message.message})}">

                </th:block>
            </div>-->
            <div class="card" th:object="${pizzaSelected}">
                <div class="card-header">
                    <h4 class="card-title" th:text="*{name}"></h4>
                </div>
                <img th:src="*{imageLink}" class="card-img-top my-card-image" th:alt="*{name}">
                <div class="card-body">
                    <h6 class="card-title">Descrizione:</h6>
                    <p class="card-text" th:text="*{description}"></p>

                    <div class="card">
                        <h6 class="card-header">Ingredienti:</h6>
                        <div class="card-body">
                            <span
                                    class="badge text-bg-secondary me-1"
                                    th:each="ingredient : *{ingredients}"
                                    th:object="${ingredient}"
                                    th:text="*{name}"
                                    th:title="*{description}"
                            >

                            </span>

                        </div>
                    </div>

                    <p class="card-text">Prezzo: <strong>[[*{price}]]</strong> €</p>
                    <a th:href="@{/pizzas}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></a>
                    <a th:href="|/pizzas/edit/*{id}|" class="btn btn-warning" sec:authorize="hasAuthority('ADMIN')">
                        <i class="fa-solid fa-pen-ruler"></i>
                    </a>
                    <hr  sec:authorize="hasAuthority('ADMIN')">
                    <div class="d-flex align-items-center justify-content-between"  sec:authorize="hasAuthority('ADMIN')">
                        <p class="card-text mt-3"><strong>Offerte</strong></p>
                        <a th:href="@{/special_offer/create(pizzaId=${pizzaSelected.id})}" class="btn btn-primary" title="Add Offer">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                    <hr  sec:authorize="hasRole('ADMIN')">
                    <table class="table"  sec:authorize="hasAuthority('ADMIN')">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Offerta</th>
                            <th scope="col">Inizio</th>
                            <th scope="col">Scadenza</th>
                            <th scope="col">Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${!pizzaSelected.specialOffers.isEmpty()}" th:each="offer : *{specialOffers}" th:object="${offer}">
                            <th scope="row" th:text="${offer.id}"></th>
                            <td th:text="${offer.title}"></td>
                            <td th:text="${#temporals.format(offer.startingDate, 'dd/MM/yyyy HH:mm')}"></td>
                            <td th:text="${#temporals.format(offer.expireDate, 'dd/MM/yyyy HH:mm')}"></td>
                            <td>
                                <a th:href="@{/special_offer/edit(offerId=${offer.id})}" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-ruler"></i>
                                </a>
                            </td>

                        </tr>
                        <tr th:if="${pizzaSelected.specialOffers.isEmpty()}"  sec:authorize="hasAuthority('ADMIN')">
                            <th scope="row" colspan="5">
                                Non sono presenti offerte...
                            </th>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>